<div id="search" class="panel">
  <form data-remote="true"  action="#" data-replace-with="#content">
    <div class="row">
      <div class="columns medium-5">
        <label>类别:</label>
        <%= collection_select :em_service, :em_ser_cate_id, EmSerCate.cache_all,:id, :name,selected: params[:em_service].try(:[],:em_ser_cate_id) , include_blank: "选择类别" %>
      </div>
      <div class="columns medium-5">
        <label>标题:</label>
        <%= text_field :em_service, :title, placeholder: "标题" %>
      </div>
      <div class="columns medium-2">
        <input type="submit" class="button tiny inline-button" text="搜索"/>
      </div>
    </div>
  </form>
  <div class="toggle" ref="#toggle_table" style="" title="点击收起"></div>
</div>
  <table>
    <thead>
      <tr>
        <th>编号</th>
        <th>服务标题</th>
        <th>服务类别</th>
        <th width=150></th>
      </tr>
    </thead>

    <tbody id="content">
      <%= render partial: 'items', object: @em_services %>
    </tbody>
  </table>
<br>

<%= link_to '添加', new_em_service_path, class: 'button' %>

