<div class="row">
  <div class="medium-5 columns medium-centered text-center">
    <p>&nbsp;</p>
    <p><img src="/images/logo-300.png" alt="" width=200 /></p>
  </div>
</div>
<div class="row">
  <div class="medium-5 medium-centered columns">
    <fieldset>
      <legend><span>用户登录</span></legend>
      <%= form_tag "/sessions" %>
        <div class="row collapse">
          <label for="">邮箱</label>
          <div class="columns small-8">
            <input type="text" name="email" id="email" value="" placeholder="请输入邮箱名" />
          </div>
          <div class="columns small-4">
            <span class="postfix">@pipgame.com</span>
          </div>
        </div>
        <div class="row">
          <div class="columns large-12">
            <label for="">密码</label>
            <input type="password" name="password" id="password" value="" placeholder="请输入密码" />
          </div>
        </div>

        <div class="row">
          <div class="columns large-6">
            <input type="submit" name="" id="" value="提交" class="small button" />
          </div>
          <div class="columns large-6">
            <div class="switch small radius">
              <input id="remember_me" type="checkbox" name="remember_me" value="1" checked>
              <label for="remember_me"></label><span>保持两周登录</span>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="columns large-12">
          <blockquote>
            <small>登录邮箱为公司邮箱，密码为每月发送的邮箱密码，密码会随邮箱密码定期更新!</small>
          </blockquote>
        </div>
      </div>
    </fieldset>
  </div>
</div>
