
<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns medium-9 medium-pull-3">
    <table>
      <thead>
        <tr>
          <th>编号</th>
          <th>名称</th>
          <th>考勤规则</th>
          <th>管理者</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody id="content">
      <%= render 'items' %>
      </tbody>
    </table>
  </div>
</div>


