
<div class="row">
  <div class="columns medium-4 medium-push-8">

  </div>
  <div class="columns medium-8 medium-pull-4">
    <table>
      <thead>
        <tr>
          <th>编号</th>
          <th>名称</th>
          <th>考勤规则</th>
          <th>管理者</th>
          <th>管理员</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody id="content">
      <%= render 'items' %>
      </tbody>
    </table>
  </div>
</div>


