
<p>
  <strong>编号:</strong>
  <%= @department.code %>
</p>

<p>
  <strong>名字:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>考勤规则:</strong>
  <%= @department.attend_rule.description %>
</p>

<p>
  <strong>管理者:</strong>
  <%= @department.leader_user.user_name %>
</p>

