<fieldset>
  <legend><span>年度剩余假期</span></legend>
  <table class="w100">
    <tr>
      <% remain_holiday.check_types.each do |item| %>
      <th><%= item.third.sub(/A|B/,'') %></th>
      <% end %>
    </tr>
    <tr>
      <% remain_holiday.check_types.each do |item| %>
      <td><%=remain_holiday.calcute_remain_holiday(item)  %></td>
      <% end %>
    </tr>
  </table>
</fieldset>
