<div class="columns large-4 medium-push-8">
  <fieldset class="">
    <legend><span>考勤、加班制度</span></legend>
    <ul class="side-nav">
      <li class="active"><a href="#t1">1. 工作时间：</a></li>
      <li><a href="#t2">2. 加班规则：</a></li>
      <li><a href="#t3">3. 假期</a></li>
      <li class="divider"></li>
      <li><a href="#">我的考勤</a></li>
    </ul>
  </fieldset>
</div>
