<h3>掌上明珠考勤系统</h3>
<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns large-9 medium-pull-3">
    <fieldset>
      <legend id="t1"><span>1. 工作时间：</span></legend>
      <dl>
        <dt>工作日： 周一至周五  ；</dt>
        <dt>休息日： 星期六 星期日</dt>
        <dt>工作时间： 每天工作8小时</dt>
        <dd>上午：    9:00至9:30——12:00</dd>
        <dd>下午：    13:00——18:00至18:30</dd>
        <dd>午休时间：12:00——13：00</dd>
        <dd>迟到、早退：员工于规定上班时间后三十分钟内打卡记为迟到，于规定下班时间前30分钟内打卡记为早退；</dd>
        <dd>超过正常上班时间三十分钟后到达公司：4个小时以内（含4小时）按事假半天处理，超过4个小时按事假1天处理；</dd>
        <dd>超过正常下班时间三十分钟前离开公司：4个小时以内（含4小时）按事假半天处理，超过4个小时按事假1天处理；</dd>
        <dd>女性哺乳假：早来和晚走1小时：</dd>
        <dd>上午： 9:00至9:30——12:00      或者  上午： 10:00至10:30——12:00</dd>
        <dd>下午： 13:00——17:00至17:30    或者  下午： 13:00——18:00至18:30</dd>

        <dt>平台部为固定工时：</dt>
        <dd>9:00--18:00，平台部会因维护班次调整为7：00-16：00。</dd>

        <dt>客服部倒班人员特殊说明：</dt>
        <dd>白班9：00-19:30</dd>
        <dd>夜班19:30-9：00</dd>
        <dd>页面组：白夜休休，上班人员按照部门排班表（可能会根据部门原因出现随时调整）</dd>
        <dd>电话组：9：00-19：00  电话组：一周二天休，不固定</dd>
      </dl>

    </fieldset>


    <fieldset>
      <legend id="t3"><span>2. 假期</span></legend>
      <dl>
        <dt>带薪假期：</dt>
        <dd>年假、带薪病假、倒休、特批、产假（98+30天）、陪产假（7天）、哺乳假（孩子1周岁前每日1小时）、婚假、丧假；</dd>
        <dt>非带薪假期：</dt>
        <dd>事假、病假、旷工；</dd>
        <dd>迟到、漏打卡扣款20元/次。</dd>
      </dl>
    </fieldset>

  </div>

</div>
