<h3>掌上明珠考勤系统</h3>
<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns large-9 medium-pull-3">
    <fieldset>
      <legend id="t1"><span>1. 工作时间：</span></legend>
      <dl>
        <dt>工作日： 星期一至星期五；</dt>
        <dt>休息日： 星期六、星期日及法定节假日；</dt>
        <dt>工作时间： 每天工作8小时（不含午休1小时）</dt>
        <dd>①上午： 9:00至9:30—12:00</dd>
        <dd>下午： 13:00—18:00至18:30</dd>
        <dd>午休时间：12:00—13:00</dd>
        <dd>②迟到、早退：员工于规定上班时间后30分钟内打卡记为迟到，于规定下班时间前30分钟内打卡记为早退；</dd>
        <dd>③当日迟到的员工，下班时间不得早于18:30；</dd>
        <dd>④超过正常上班时间30分钟后到达公司：4个小时以内（含4小时）按事假半天处理，超过4个小时按事假1天处理；</dd>
        <dd>超过正常下班时间30分钟前离开公司：4个小时以内（含4小时）按事假半天处理，超过4个小时按事假1天处理；</dd>
        <dt>平台部为固定工时：</dt>
        <dd>9:00 — 18:00，每周二维护人员工作时间为7:00 — 16:00。</dd>
      </dl>

    </fieldset>
    <fieldset>
      <legend id="t3"><span>2. 假期</span></legend>
      <dl>
        <dt>带薪假期：</dt>
        <dd>年假、带薪病假、倒休、特批、婚假、丧假、产假（98天或128天）、产检假、陪产假（7天）、哺乳假（孩子1周岁前每日1小时）；</dd>
        <dt> 带薪假期说明：</dt>
        <dd>
        <p><h5>① 年假：</h5>入职满一年的员工，均可依其司龄的长短享受下列不同时期的休假，休假最小单位为半天：
        1年<司龄<10年(含)   享受 5天<br>
        10年<司龄<20年（含） 享受10天<br>
        司龄>20年            享受15天<br>
        </p>
        <p><h5>② 带薪病假：</h5>
        员工转正后持医院证明每年可享受3天以内（含第3天）带薪病假；</p>
        <p><h5>③ 婚假：</h5>符合国家规定结婚的正式员工，可以享有以下全薪婚假：</p>
        <table>
          <tr>
            <td>女员工</td>
            <td>天数</td>
            <td>男员工</td>
            <td>天数</td>
          </tr>
          <tr>
            <td>不满23岁</td>
            <td>3天</td>
            <td>不满25岁</td>
            <td>3天</td>
          </tr>
          <tr>
            <td>23岁及以上</td>
            <td>10天</td>
            <td>25岁及以上</td>
            <td>10天</td>
          </tr>
        </table>
        <p>
        <h5>④ 丧假：公司正式员工如遇下述情况，均可享受时间不等的全薪丧假</h5>
            家属去世                       假期 <br>
            父母、岳父母、配偶、子女       3天 <br>
            祖父母、外祖父母、兄弟、姐妹   1天 <br>
        </p>
        <p>
        <h5>⑤ 产假/产检假/陪产假/哺乳假（假期含节假日周末）</h5>
        产检假：怀孕女员工依照医院的要求在工作时间内进行产前检查的，凭医院开具的产检诊断证明，即可视为正常出勤。原则上怀孕第1-7月，每月1次，第8月，每月2次，第9-10月，每周1次。 <br>
        产假：产假和计划生育假：女员工生育前后给予产假98天，其中产前休假15天，达到晚育年龄的增加产假30天，难产增加产假15天，多胞胎生育，每多生育一个，增加产假15天。 <br>
        女员工怀孕流产（持医院证明），妊娠不满4个月的，产假为15天；妊娠满4个月的，产假为42天。 <br>
        陪产假：配偶生育，男员工可享受7天护理假。 <br>
        哺乳假：晚上班或提前下班1小时，时间如下： <br>
        上午： 9:00至9:30 —12:00   或者 上午： 10:00至10:30 —12:00 <br>
        下午： 13:00 —17:00至17:30 或者 下午： 13:00 —18:00至18:30 <br>
        </p>
        </dd>
        <dt>非带薪假期：</dt>
        <dd>事假、病假、旷工。</dd>
      </dl>
    </fieldset>

    <fieldset>
      <legend id="t3"><span>3. 使用说明内网链接</span></legend>
      <dl>
        <dt>员工使用说明：</dt>
        <dd><a href='http://192.168.0.10:90/index.php?option=com_content&view=article&id=676:2015-05-15-08-00-52&catid=70:2011-11-17-09-27-11&Itemid=301'>http://192.168.0.10:90/index.php?option=com_content&view=article&id=676:2015-05-15-08-00-52&catid=70:2011-11-17-09-27-11&Itemid=301</a></dd>
        <dt>员工操作FAQ：</dt>
        <dd><a href='http://192.168.0.10:90/index.php?option=com_content&view=article&id=677:20150515&catid=70:2011-11-17-09-27-11&Itemid=301'>http://192.168.0.10:90/index.php?option=com_content&view=article&id=677:20150515&catid=70:2011-11-17-09-27-11&Itemid=301</a></dd>
      </dl>
    </fieldset>
  </div>

</div>
