<h3>掌上明珠考勤系统</h3>

<div class="row">
<div class="columns large-4 medium-push-8">
    <fieldset class="">
      <legend><span>考勤、加班制度</span></legend>
      <ul class="side-nav">
        <li class="active"><a href="#t1">1. 工作时间：</a></li>
        <li><a href="#t2">2. 加班规则：</a></li>
        <li><a href="#t3">3. 假期</a></li>
        <li class="divider"></li>
        <li><a href="#">我的考勤</a></li>
      </ul>
    </fieldset>
  </div>
  <div class="columns large-8 medium-pull-4">
    <fieldset>
      <legend id="t1"><span>1. 工作时间：</span></legend>
      <dl>
        <dt>工作日： 周一至周五  ；</dt>
        <dt>休息日： 星期六 星期日</dt>
        <dt>工作时间： 每天工作8小时</dt>
        <dd>上午：    9:00至9:30——12:00</dd>
        <dd>下午：    13:00——18:00至18:30</dd>
        <dd>午休时间：12:00——13：00</dd>
        <dd>迟到、早退：员工于规定上班时间后三十分钟内打卡记为迟到，于规定下班时间前30分钟内打卡记为早退；</dd>
        <dd>超过正常上班时间三十分钟后到达公司：2个小时以内（含2小时）按事假半天处理，超过2个小时按事假1天处理；</dd>
        <dd>女性哺乳假：早来或者晚走1小时：</dd>
        <dd>上午： 9:00至9:30——12:00      或者  上午： 10:00至10:30——12:00</dd>
        <dd>下午： 13:00——17:00至17:30    或者  下午： 13:00——18:00至18:30</dd>

        <dt>平台部为固定工时：</dt>
        <dd>9:00--18:00，平台部会因维护班次调整为7：00-16：00。</dd>

        <dt>客服部倒班人员特殊说明：</dt>
        <dd>白班9：00-19:30</dd>
        <dd>夜班19:30-9：00</dd>
        <dd>页面组：白夜休休，上班人员按照部门排班表（可能会根据部门原因出现随时调整）</dd>
        <dd>电话组：9：00-19：00  电话组：一周二天休，不固定</dd>
      </dl>

    </fieldset>

    <fieldset>
      <legend id="t2"><span>2. 加班规则：</span></legend>
      <dl>
        <dt>人力、财务、法务、行政、海外、平台部加班 ：</dt>
        <dd>工作时间超过21：00点，交通费实报实销，餐费20元以内实报实销（含20元）；</dd>
        <dd>加班以1小时为最小时间单位计算。日常加班计算时数以21：00起算，加班不满半小时不计加班时数（可享受加班福利），超过半小时，不足1小时按1小时计算；周六、日加班按实际工作时数计算；确认的加班，每1小时可折算倒休1小时，累计倒休8小时可折算倒休1天。每月根据加班单，由人力资源部统计。</dd>

        <dt>天擎、运营、市场加班：</dt>
        <dd>工作时间超过21：00点，交通费实报实销，餐费20元以内实报实销（含20元）；</dd>
        <dd>运营、市场由其部门经理统计员工加班小时数作为特批的依据。</dd>
        <dd>天擎不统计加班小时。</dd>

        <dt>工作室：</dt>
        <dd>工作时间以后的加班，离开时间在19：00-21：00，不需要填写加班单。获得经理口头确认后，加班时间记录为A分。</dd>
        <dd>各项目维护人员，每周二早8：00前到公司的，截至9：00之前的加班时间记录为A分。</dd>
        <dd>工作时间以后的加班，离开时间在21：00以后的，需提前填写加班单。加班时间从7点开始计算，记录为B分。可按公司规定报销交通费和餐费。</dd>
        <dd>周末和节假日加班，需提前按实际工作时间填写加班单，可按公司规定报销交通费和餐费。加班时间按实际时间计算，记录为B分。</dd>
        <dd>加班时间计算以半小时为最小单位。不足15分钟的不计算，超出15分钟的按半小时计算。</dd>
        <dd>工作室加班、考勤由行政部-高畅统计。</dd>
      </dl>

    </fieldset>

    <fieldset>
      <legend id="t3"><span>3. 假期</span></legend>
      <dl>
        <dt>带薪假期：</dt>
        <dd>年假、带薪病假、倒休、特批、产假（98+30+15天）、陪产假（7天）、哺乳假（孩子1周岁前每日1小时）、婚假、丧假；</dd>
        <dt>非带薪假期：</dt>
        <dd>事假、病假、旷工；</dd>
        <dd>迟到、漏打卡扣款20元/次。</dd>
      </dl>
    </fieldset>

  </div>

</div>
