<h3>掌上明珠考勤系统</h3>
<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns medium-9 medium-pull-3">
    <fieldset>
      <legend id="t1"><span>1. 工作时间：</span></legend>
      <dl>
        <dt>工作日： 星期一至星期五；</dt>
        <dt>休息日： 星期六、星期日及法定节假日；</dt>
        <dt>工作时间： 每天工作8小时（不含午休1小时）</dt>
        <dd>①上午： 9:00至9:30—12:00</dd>
        <dd>下午： 13:00—18:00至18:30</dd>
        <dd>午休时间：12:00—13:00</dd>
        <dd>②迟到、早退：员工于规定上班时间后1小时内打卡记为迟到，于规定下班时间前30分钟内打卡记为早退；</dd>
        <dd>③当日迟到的员工，弹性工作时间员工下班时间不得早于18:30，固定工作时间员工不得早于规定下班时间。</dd>
        <dd>④超过正常上班时间1小时后到达公司：4个小时以内（含4小时）按事假半天处理，超过4个小时按事假1天处理；</dd>
        <dd>超过正常下班时间30分钟前离开公司：4个小时以内（含4小时）按事假半天处理，超过4个小时按事假1天处理；</dd>
        <dt>平台部为固定工作时间：</dt>
        <dd>9:00 — 18:00，每周二维护人员工作时间为7:30 — 16:30。</dd>
      </dl>

    </fieldset>
    <fieldset>
      <legend id="t3"><span>2. 假期</span></legend>
      <dl>
        <dt>带薪假期：</dt>
        <dd>年假、带薪病假、倒休、特批、婚假、丧假、产假（128天）、产检假、陪产假（15天）、哺乳假（婴儿1周岁前每日1小时）；</dd>
        <dt> 带薪假期说明：</dt>
        <dd>
        <p><h5>① 年假：</h5>
        入职满一年的员工，均可依其累计工作年限的长短享受下列不同时期的休假，休假最小单位为半天：<br>
        1年<累计工作年限<10年(不含) 享受 5天 <br>
        10年<累计工作年限<20年（不含） 享受10天<br>
        累计工作年限>20年（含） 享受15天<br>

        </p>
        <p><h5>② 带薪病假：</h5>
        员工转正后持医院证明每年可享受3天（含）带薪病假；</p>
        <p><h5>③ 婚假：</h5>依法办理结婚登记的正式员工，享受带薪婚假10天（含周六日），婚假需1次休完。</p>

        <p>
        <h5>④ 丧假：公司正式员工如遇下述情况，均可享受时间不等的全薪丧假</h5>
            家属去世                       假期 <br>
            父母、岳父母、配偶、子女       3天 <br>
            祖父母、外祖父母、兄弟、姐妹   1天 <br>
        </p>
        <p>
        <h5>⑤ 产假/产检假/陪产假/哺乳假（假期含节假日周末）</h5>
        产检假：怀孕女员工依照医院的要求在工作时间内进行产前检查的，凭医院开具的产检诊断证明，即可视为正常出勤。原则上怀孕第1-7月，每月1次，第8月，每月2次，第9-10月，每周1次。 <br>
        产假： 女员工生育前后可享受产假128天，其中生育假期98天，生育奖励假30天。<br>
        女员工怀孕流产（持医院证明），妊娠不满4个月的，产假为15天；妊娠满4个月的，产假为42天。 <br>
        陪产假：配偶享受陪产假15天。 <br>
        哺乳假（婴儿1周岁前每日1小时） ： <br>
        上午： 9:00至9:30 —12:00   或者 上午： 10:00至10:30 —12:00 <br>
        下午： 13:00 —17:00至17:30 或者 下午： 13:00 —18:00至18:30 <br>
        </p>
        </dd>
        <dt>非带薪假期：</dt>
        <dd>事假、病假、旷工。</dd>
      </dl>
    </fieldset>

    <fieldset>
      <legend id="t3"><span>3. 使用说明内网链接</span></legend>
      <dl>
        <dt>员工使用说明(只允许内网访问)：</dt>
        <dd><a href='/em_services/4'>考勤系统启用指导</a></dd>
        <dt>员工操作FAQ(只允许内网访问)：</dt>
        <dd><a href='/em_services/12'>考勤系统员工页面操作FAQ</a></dd>
      </dl>
    </fieldset>
  </div>

</div>
