
<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns large-8 medium-pull-4">
    <table>
      <thead>
        <tr>
          <th width="50%">配置项</th>
          <th width="50%">值</th>
        </tr>
      </thead>

      <tbody>
      <% @oa_configs.each do |oa_config| %>
      <tr data-object="oa_config" data-url="/oa_configs/<%= oa_config.id %>">
        <td class="rest-in-place" data-attribute="des"><%= oa_config.des %></td>
        <td class="rest-in-place" data-attribute="value"><%= oa_config.value %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
