<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns medium-9 medium-pull-3">
    <%= render 'form' %>
    <fieldset>
      <legend><span>说明</span></legend>
      <ul>
      </ul>
    </fieldset>
  </div>
</div>
