<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns medium-9 medium-pull-3">
    <%= render 'form' %>
    <fieldset>
      <legend><span>说明</span></legend>
      <ul>
        <li>本功能用于管理员修改异常考勤</li>
        <li>数值除次外 = 实际时长*10</li>
      </ul>
    </fieldset>
  </div>
</div>
