<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Author>shengsheng.yang</Author>
    <LastAuthor>张菁琳</LastAuthor>
    <LastPrinted>2015-01-29T08:28:00Z</LastPrinted>
    <Created>2014-05-29T19:39:00Z</Created>
    <LastSaved>2015-10-30T03:25:27Z</LastSaved>
  </DocumentProperties>
  <CustomDocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <KSOProductBuildVer dt:dt="string">2052-9.1.0.5218</KSOProductBuildVer>
  </CustomDocumentProperties>
  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <WindowWidth>20940</WindowWidth>
    <WindowHeight>10950</WindowHeight>
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>
  <Styles>
    <Style ss:ID="s2" ss:Name="解释性文本 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#808080" ss:Italic="1"/>
    </Style>
    <Style ss:ID="s1" ss:Name="千位分隔">
      <NumberFormat ss:Format="_ * #,##0.00_ ;_ * \-#,##0.00_ ;_ * &quot;-&quot;??_ ;_ @_ "/>
    </Style>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s64" ss:Name="60% - 强调文字颜色 3 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#00FF00" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s8" ss:Name="千位分隔 3">
      <NumberFormat ss:Format="_ * #,##0.00_ ;_ * \-#,##0.00_ ;_ * &quot;-&quot;??_ ;_ @_ "/>
    </Style>
    <Style ss:ID="s48" ss:Name="40% - 强调文字颜色 2 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#FF8080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s44" ss:Name="20% - 强调文字颜色 6 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#FFCC99" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s6" ss:Name="20% - 强调文字颜色 5 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CCFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s10" ss:Name="60% - 强调文字颜色 2 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#FF8080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s3" ss:Name="20% - 强调文字颜色 4 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CC99FF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s28" ss:Name="20% - 强调文字颜色 4 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CC99FF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s4" ss:Name="常规 3">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s5" ss:Name="货币">
      <NumberFormat ss:Format="_ &quot;￥&quot;* #,##0.00_ ;_ &quot;￥&quot;* \-#,##0.00_ ;_ &quot;￥&quot;* &quot;-&quot;??_ ;_ @_ "/>
    </Style>
    <Style ss:ID="s80" ss:Name="常规 2">
      <Font ss:FontName="Arial" x:CharSet="134" ss:Size="10"/>
    </Style>
    <Style ss:ID="s50" ss:Name="输入 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#333399"/>
      <Interior ss:Color="#FFCC99" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s19" ss:Name="20% - 强调文字颜色 2 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#FF99CC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s7" ss:Name="标题 4 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s84" ss:Name="常规 2 3">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s42" ss:Name="常规 39">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s9" ss:Name="警告文本 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FF0000"/>
    </Style>
    <Style ss:ID="s72" ss:Name="60% - 强调文字颜色 5 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#33CCCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s11" ss:Name="常规 5">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s33" ss:Name="标题 1 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="3" ss:Color="#333399"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="15" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s70" ss:Name="标题 2 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="3" ss:Color="#C0C0C0"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="13" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s12" ss:Name="差 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#800080"/>
      <Interior ss:Color="#FF99CC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s13" ss:Name="40% - 强调文字颜色 3 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#00FF00" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s14" ss:Name="千位分隔[0]">
      <NumberFormat ss:Format="_ * #,##0_ ;_ * \-#,##0_ ;_ * &quot;-&quot;_ ;_ @_ "/>
    </Style>
    <Style ss:ID="s15" ss:Name="百分比">
      <NumberFormat ss:Format="0%"/>
    </Style>
    <Style ss:ID="s16" ss:Name="标题 3 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#0066CC"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s57" ss:Name="40% - 强调文字颜色 4 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CC99FF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s17" ss:Name="60% - 强调文字颜色 1 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#0066CC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s18" ss:Name="货币[0]">
      <NumberFormat ss:Format="_ &quot;￥&quot;* #,##0_ ;_ &quot;￥&quot;* \-#,##0_ ;_ &quot;￥&quot;* &quot;-&quot;_ ;_ @_ "/>
    </Style>
    <Style ss:ID="s36" ss:Name="60% - 强调文字颜色 6 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#FF9900" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s26" ss:Name="差 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#800080"/>
      <Interior ss:Color="#FF99CC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s20" ss:Name="60% - 强调文字颜色 5 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#33CCCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s21" ss:Name="注释 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#C0C0C0"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#C0C0C0"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#C0C0C0"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#C0C0C0"/>
      </Borders>
      <Interior ss:Color="#FFFFCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s75" ss:Name="40% - 强调文字颜色 3 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#00FF00" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s31" ss:Name="样式 1">
      <Alignment ss:Horizontal="Justify" ss:Vertical="Justify" ss:Rotate="-37" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="Arial" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <NumberFormat/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s68" ss:Name="注释 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#C0C0C0"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#C0C0C0"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#C0C0C0"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#C0C0C0"/>
      </Borders>
      <Interior ss:Color="#FFFFCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s22" ss:Name="标题 2 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="3" ss:Color="#C0C0C0"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="13" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s32" ss:Name="检查单元格 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333333"/>
        <Border ss:Position="Left" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333333"/>
        <Border ss:Position="Right" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333333"/>
        <Border ss:Position="Top" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333333"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF" ss:Bold="1"/>
      <Interior ss:Color="#969696" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s69" ss:Name="检查单元格 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333333"/>
        <Border ss:Position="Left" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333333"/>
        <Border ss:Position="Right" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333333"/>
        <Border ss:Position="Top" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333333"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF" ss:Bold="1"/>
      <Interior ss:Color="#969696" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s23" ss:Name="强调文字颜色 1 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#333399" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s34" ss:Name="强调文字颜色 4 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#800080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s71" ss:Name="强调文字颜色 4 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#800080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s24" ss:Name="强调文字颜色 5 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#33CCCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s37" ss:Name="常规 39 2">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s25" ss:Name="20% - 强调文字颜色 1 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CCCCFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s27" ss:Name="常规 4">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s73" ss:Name="60% - 强调文字颜色 1 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#0066CC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s29" ss:Name="千位分隔 2">
      <NumberFormat ss:Format="_ * #,##0.00_ ;_ * \-#,##0.00_ ;_ * &quot;-&quot;??_ ;_ @_ "/>
    </Style>
    <Style ss:ID="s74" ss:Name="20% - 强调文字颜色 5 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CCFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s30" ss:Name="标题 6">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="18" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s35" ss:Name="20% - 强调文字颜色 3 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CCFFCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s38" ss:Name="链接单元格 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Double" ss:Weight="3" ss:Color="#FF9900"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FF9900"/>
    </Style>
    <Style ss:ID="s81" ss:Name="解释性文本 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#808080" ss:Italic="1"/>
    </Style>
    <Style ss:ID="s51" ss:Name="计算 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FF9900" ss:Bold="1"/>
      <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s39" ss:Name="强调文字颜色 2 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#FF0000" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s82" ss:Name="标题 3 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#0066CC"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s52" ss:Name="标题 1 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="3" ss:Color="#333399"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="15" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s40" ss:Name="常规 2 2">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s59" ss:Name="20% - 强调文字颜色 2 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#FF99CC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s41" ss:Name="60% - 强调文字颜色 4 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#800080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s83" ss:Name="强调文字颜色 2 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#FF0000" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s54" ss:Name="强调文字颜色 3 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#339966" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s43" ss:Name="20% - 强调文字颜色 1 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CCCCFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s45" ss:Name="40% - 强调文字颜色 5 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#99CCFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s46" ss:Name="链接单元格 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Double" ss:Weight="3" ss:Color="#FF9900"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FF9900"/>
    </Style>
    <Style ss:ID="s79" ss:Name="强调文字颜色 1 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#333399" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s47" ss:Name="标题 5">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="18" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s58" ss:Name="60% - 强调文字颜色 3 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#00FF00" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s49" ss:Name="20% - 强调文字颜色 3 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CCFFCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s61" ss:Name="60% - 强调文字颜色 2 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#FF8080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s53" ss:Name="40% - 强调文字颜色 6 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#FFCC00" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s62" ss:Name="标题 4 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#003366" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s55" ss:Name="40% - 强调文字颜色 6 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#FFCC00" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s63" ss:Name="强调文字颜色 3 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#339966" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s56" ss:Name="40% - 强调文字颜色 2 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#FF8080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s60" ss:Name="40% - 强调文字颜色 1 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#99CCFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s65" ss:Name="60% - 强调文字颜色 4 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#800080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s66" ss:Name="40% - 强调文字颜色 5 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#99CCFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s67" ss:Name="40% - 强调文字颜色 1 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#99CCFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s76" ss:Name="60% - 强调文字颜色 6 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#FF9900" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s77" ss:Name="20% - 强调文字颜色 6 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#FFCC99" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s78" ss:Name="40% - 强调文字颜色 4 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
      <Interior ss:Color="#CC99FF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s85" ss:Name="强调文字颜色 6 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#FF6600" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s86" ss:Name="好 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#008000"/>
      <Interior ss:Color="#CCFFCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s87" ss:Name="警告文本 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FF0000"/>
    </Style>
    <Style ss:ID="s88" ss:Name="强调文字颜色 5 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#33CCCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s89" ss:Name="常规_考勤统计">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s90" ss:Name="强调文字颜色 6 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FFFFFF"/>
      <Interior ss:Color="#FF6600" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s91" ss:Name="常规_奇乐 Chris_22">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="9"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s92" ss:Name="适中 2">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#993300"/>
      <Interior ss:Color="#FFFF99" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s93" ss:Name="好 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#008000"/>
      <Interior ss:Color="#CCFFCC" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s94" ss:Name="适中 3">
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#993300"/>
      <Interior ss:Color="#FFFF99" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s95" ss:Name="汇总 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333399"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333399"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s96" ss:Name="输出 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333333"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333333"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333333"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333333"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#333333" ss:Bold="1"/>
      <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s97" ss:Name="汇总 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Double" ss:Weight="3" ss:Color="#333399"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333399"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
    </Style>
    <Style ss:ID="s98" ss:Name="输出 3">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333333"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333333"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333333"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#333333"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#333333" ss:Bold="1"/>
      <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s99" ss:Name="货币[0] 2">
      <Font ss:FontName="Arial" x:CharSet="134" ss:Size="10"/>
    </Style>
    <Style ss:ID="s100" ss:Name="输入 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#333399"/>
      <Interior ss:Color="#FFCC99" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s101" ss:Name="计算 2">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1" ss:Color="#808080"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="11" ss:Color="#FF9900" ss:Bold="1"/>
      <Interior ss:Color="#C0C0C0" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s102">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s103">
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
    </Style>
    <Style ss:ID="s104">
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
    </Style>
    <Style ss:ID="s105">
      <Borders/>
    </Style>
    <Style ss:ID="s106">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
    </Style>
    <Style ss:ID="s107">
      <Borders/>
      <NumberFormat ss:Format="0"/>
    </Style>
    <Style ss:ID="s108">
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
    </Style>
    <Style ss:ID="s109">
      <Borders/>
      <Interior ss:Color="#CCFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s110">
      <Alignment ss:Horizontal="Center"/>
      <Borders/>
      <Interior/>
    </Style>
    <Style ss:ID="s111">
      <Alignment ss:WrapText="1"/>
      <Borders/>
    </Style>
    <Style ss:ID="s112">
      <Alignment ss:Horizontal="Left" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="黑体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s113" ss:Parent="s89">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="微软雅黑" x:CharSet="134" ss:Size="14" ss:Color="#000000" ss:Bold="1"/>
      <Interior/>
    </Style>
    <Style ss:ID="s114">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s115">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <NumberFormat/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s116">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s117">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#CCFFFF" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s118">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <NumberFormat/>
    </Style>
    <Style ss:ID="s119">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <NumberFormat/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s120">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
    </Style>
    <Style ss:ID="s121">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
    </Style>
    <Style ss:ID="s122" ss:Parent="s91">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#808000" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s123">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFFF00" ss:Pattern="Solid"/>
      <NumberFormat/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s124">
      <Alignment ss:Horizontal="Center"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFFF00" ss:Pattern="Solid"/>
      <NumberFormat/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s125">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <NumberFormat ss:Format="0_);[Red]\(0\)"/>
      <Protection/>
    </Style>
    <Style ss:ID="s126">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Protection/>
    </Style>
    <Style ss:ID="s127">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#808000" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s128">
      <Alignment ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#808000" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s129">
      <Alignment ss:Horizontal="Left"/>
      <Borders/>
      <Font ss:FontName="微软雅黑" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s130">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFFF99" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s131">
      <Alignment ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFFF99" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s132">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FF8080" ss:Pattern="Solid"/>
      <NumberFormat/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s133">
      <Alignment ss:Horizontal="Left" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior ss:Color="#FF9900" ss:Pattern="Solid"/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s134">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior/>
      <Protection/>
    </Style>
    <Style ss:ID="s135">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat ss:Format="0_);[Red]\(0\)"/>
      <Protection/>
    </Style>
    <Style ss:ID="s136">
      <Alignment ss:Horizontal="Left" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s137">
      <Alignment ss:Horizontal="Left" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s138">
      <Alignment ss:Horizontal="Left"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s139">
      <Alignment ss:Horizontal="Justify" ss:Vertical="Justify" ss:Rotate="-37" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s140">
      <Alignment ss:Vertical="Justify"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Bold="1"/>
      <Interior/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s141">
      <Alignment ss:Horizontal="Justify" ss:Vertical="Justify" ss:Rotate="-37"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s142">
      <Alignment ss:Horizontal="Center"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Protection/>
    </Style>
    <Style ss:ID="s143">
      <Alignment ss:Horizontal="Center"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <Protection/>
    </Style>
    <Style ss:ID="s144">
      <Alignment ss:Horizontal="Center"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior/>
      <Protection/>
    </Style>
    <Style ss:ID="s145">
      <Alignment ss:Horizontal="Center"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <NumberFormat ss:Format="0_);[Red]\(0\)"/>
      <Protection/>
    </Style>
    <Style ss:ID="s146">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFCC99" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s147">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFCC99" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="0"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s148">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFFF00" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s149">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#CCFFCC" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s150">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <NumberFormat ss:Format="0_ "/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s151">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <NumberFormat ss:Format="0.0_ "/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s152">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s153">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <NumberFormat ss:Format="0"/>
      <Protection/>
    </Style>
    <Style ss:ID="s154">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <NumberFormat ss:Format="0.00_);[Red]\(0.00\)"/>
      <Protection/>
    </Style>
    <Style ss:ID="s155">
      <Alignment ss:Horizontal="Left" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <NumberFormat ss:Format="0"/>
      <Protection/>
    </Style>
    <Style ss:ID="s156">
      <Alignment ss:Horizontal="Left" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat ss:Format="0"/>
      <Protection/>
    </Style>
    <Style ss:ID="s157">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior/>
      <NumberFormat ss:Format="0.00_);[Red]\(0.00\)"/>
      <Protection/>
    </Style>
    <Style ss:ID="s158">
      <Alignment ss:Vertical="Justify" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Bold="1"/>
      <Interior/>
      <NumberFormat ss:Format="0"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s159">
      <Alignment ss:Vertical="Justify"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Bold="1"/>
      <Interior/>
      <NumberFormat ss:Format="0"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s160">
      <Alignment ss:Horizontal="Center"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <NumberFormat ss:Format="0.00_);[Red]\(0.00\)"/>
      <Protection/>
    </Style>
    <Style ss:ID="s161">
      <Alignment ss:Horizontal="Center"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <NumberFormat ss:Format="0"/>
      <Protection/>
    </Style>
    <Style ss:ID="s162">
      <Alignment ss:Vertical="Justify" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Bold="1"/>
      <Interior/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s163">
      <Alignment/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <NumberFormat ss:Format="0"/>
    </Style>
    <Style ss:ID="s164">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#CC99FF" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s165">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#CCFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s166">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <NumberFormat/>
    </Style>
    <Style ss:ID="s167">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior ss:Color="#CCFFFF" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="0.00"/>
      <Protection/>
    </Style>
    <Style ss:ID="s168">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <NumberFormat ss:Format="0.00"/>
      <Protection/>
    </Style>
    <Style ss:ID="s169">
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#CCFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s170">
      <Alignment ss:Horizontal="Center"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
    </Style>
    <Style ss:ID="s171">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#CCFFFF" ss:Pattern="Solid"/>
      <NumberFormat/>
    </Style>
    <Style ss:ID="s172">
      <Alignment ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
    </Style>
    <Style ss:ID="s173">
      <Alignment ss:Horizontal="Left" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="黑体" x:CharSet="134" ss:Size="12"/>
      <Interior/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s174" ss:Parent="s89">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="微软雅黑" x:CharSet="134" ss:Size="14" ss:Color="#000000" ss:Bold="1"/>
      <Interior/>
    </Style>
    <Style ss:ID="s175">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFFF00" ss:Pattern="Solid"/>
      <NumberFormat/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s176">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#808000" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s177">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FFFF99" ss:Pattern="Solid"/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s178">
      <Alignment ss:Horizontal="Center" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior ss:Color="#FF8080" ss:Pattern="Solid"/>
      <NumberFormat/>
      <Protection x:HideFormula="1"/>
    </Style>
    <Style ss:ID="s179">
      <Alignment ss:Horizontal="Left" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10" ss:Color="#000000"/>
      <Interior ss:Color="#FF9900" ss:Pattern="Solid"/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s180">
      <Alignment ss:Horizontal="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="宋体" x:CharSet="134" ss:Size="10"/>
      <Interior/>
      <NumberFormat/>
    </Style>
  </Styles>
  <Worksheet ss:Name="考勤统计">
    <Names>
      <NamedRange ss:Name="_FilterDatabase" ss:RefersTo="=考勤统计!R3C1:R13C26" ss:Hidden="1"/>
    </Names>
    <Table ss:ExpandedColumnCount="16383" ss:ExpandedRowCount="20" x:FullColumns="1" x:FullRows="1" ss:DefaultColumnWidth="54" ss:DefaultRowHeight="14.25">
      <Column ss:Index="1" ss:StyleID="s104" ss:AutoFitWidth="0" ss:Width="66.75"/>
      <Column ss:Index="2" ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="27"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="44.25"/>
      <Column ss:StyleID="s106" ss:AutoFitWidth="0" ss:Width="58.5"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="28.5"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="30.75"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="35.25"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="54.75"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="32.25"/>
      <Column ss:StyleID="s107" ss:AutoFitWidth="0" ss:Width="61.5"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="32.25"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="60.75"/>
      <Column ss:StyleID="s105" ss:Hidden="1" ss:AutoFitWidth="0" ss:Width="32.25"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="30.75"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="45"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="49.5"/>
      <Column ss:StyleID="s108" ss:AutoFitWidth="0" ss:Width="30.75"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="31.5"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="33.75"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0"/>
      <Column ss:StyleID="s109" ss:Hidden="1" ss:AutoFitWidth="0" ss:Width="28.5"/>
      <Column ss:StyleID="s110" ss:AutoFitWidth="0" ss:Width="30"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="47.25"/>
      <Column ss:StyleID="s105" ss:AutoFitWidth="0" ss:Width="45"/>
      <Column ss:StyleID="s109" ss:Hidden="1" ss:AutoFitWidth="0"/>
      <Column ss:StyleID="s111" ss:AutoFitWidth="0" ss:Width="92.25"/>
      <Column ss:StyleID="s105" ss:Span="16356"/>
      <Row>
        <Cell ss:StyleID="s173" ss:MergeAcross="25">
          <Data ss:Type="String">北京掌上明珠科技股份有限公司</Data>
        </Cell>
      </Row>
      <Row ss:Height="30">
        <Cell ss:StyleID="s174" ss:MergeAcross="25">
          <Data ss:Type="String">2015年10月明珠股份考勤汇总表</Data>
        </Cell>
      </Row>
      <Row ss:StyleID="s103" ss:Height="42">
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">部门</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">序号</Data>
        </Cell>
        <Cell ss:StyleID="s115">
          <Data ss:Type="String">人员编码</Data>
        </Cell>
        <Cell ss:StyleID="s116">
          <Data ss:Type="String">姓名</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">迟到次数</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">早退次数</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">漏打卡次数</Data>
        </Cell>
        <Cell ss:StyleID="s117">
          <Data ss:Type="String">扣款金额</Data>
        </Cell>
        <Cell ss:StyleID="s146">
          <Data ss:Type="String">倒休/特批 </Data>
        </Cell>
        <Cell ss:StyleID="s147">
          <Data ss:Type="String">15年&#10;剩余倒休</Data>
        </Cell>
        <Cell ss:StyleID="s148">
          <Data ss:Type="String">年假</Data>
        </Cell>
        <Cell ss:StyleID="s148">
          <Data ss:Type="String">15年&#10;剩余年假</Data>
        </Cell>
        <Cell ss:StyleID="s148">
          <Data ss:Type="String">14年&#10;剩余年假</Data>
        </Cell>
        <Cell ss:StyleID="s149">
          <Data ss:Type="String">病假</Data>
        </Cell>
        <Cell ss:StyleID="s149">
          <Data ss:Type="String">带薪病假</Data>
        </Cell>
        <Cell ss:StyleID="s149">
          <Data ss:Type="String">15年剩余&#10;带薪病假</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">事假</Data>
        </Cell>
        <Cell ss:StyleID="s164">
          <Data ss:Type="String">旷工</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">其他</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">出勤天数</Data>
        </Cell>
        <Cell ss:StyleID="s117">
          <Data ss:Type="String">倒休</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">出差天数</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">餐补天数</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">转正前出勤天数</Data>
        </Cell>
        <Cell ss:StyleID="s117">
          <Data ss:Type="String">转正后出勤天数（天）</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">备注</Data>
        </Cell>
      </Row>
      <Row ss:StyleID="s103" ss:Height="13.5">
        <Cell ss:StyleID="s180" ss:MergeDown="4">
          <Data ss:Type="String">社区部</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">1</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">00072</Data>
        </Cell>
        <Cell ss:StyleID="s119">
          <Data ss:Type="String">刘泉美</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">1</Data>
          <Comment ss:Author="张菁琳">
            <ss:Data xmlns="http://www.w3.org/TR/REC-html40">张菁琳:&#10;9.22,1</ss:Data>
          </Comment>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114" ss:Formula="=(+RC[-1])*20">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s121">
          <Data ss:Type="Number">1</Data>
          <Comment ss:Author="张菁琳">
            <ss:Data xmlns="http://www.w3.org/TR/REC-html40">张菁琳:&#10;10.23,8</ss:Data>
          </Comment>
        </Cell>
        <Cell ss:StyleID="s150"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">3</Data>
          <Comment ss:Author="张菁琳">
            <ss:Data xmlns="http://www.w3.org/TR/REC-html40">张菁琳:&#10;9.28,1&#10;9.29,1&#10;9.30,1</ss:Data>
          </Comment>
        </Cell>
        <Cell ss:StyleID="s151"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s152">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114"/>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115" ss:Formula="=21.75-RC[-3]-RC[-6]">
          <Data ss:Type="Number">21.75</Data>
        </Cell>
        <Cell ss:StyleID="s165" ss:Formula="=IF(RC[-12]/8&lt;0.5,0,IF(RC[-12]/8&gt;=0.5,RC[-12]/8))">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115"/>
        <Cell ss:StyleID="s115" ss:Formula="=IF(RC[1]=&quot;&quot;,ROUND(RC[-3]-RC[-2]-RC[-12]-RC[-8]-RC[-4]-RC[-1],0),0)">
          <Data ss:Type="Number">19</Data>
        </Cell>
        <Cell ss:StyleID="s166"/>
        <Cell ss:StyleID="s171"/>
        <Cell ss:StyleID="s166"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="13.5">
        <Cell ss:Index="2" ss:StyleID="s114">
          <Data ss:Type="Number">2</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">00047</Data>
        </Cell>
        <Cell ss:StyleID="s119">
          <Data ss:Type="String">毕博</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s121">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114" ss:Formula="=(RC[-3]+RC[-2]+RC[-1])*20">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s121">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s150"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s151"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s152">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114"/>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115" ss:Formula="=21.75-RC[-3]-RC[-6]">
          <Data ss:Type="Number">21.75</Data>
        </Cell>
        <Cell ss:StyleID="s165" ss:Formula="=IF(RC[-12]/8&lt;0.5,0,IF(RC[-12]/8&gt;=0.5,RC[-12]/8))">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115"/>
        <Cell ss:StyleID="s115" ss:Formula="=IF(RC[1]=&quot;&quot;,ROUND(RC[-3]-RC[-2]-RC[-12]-RC[-8]-RC[-4]-RC[-1],0),0)">
          <Data ss:Type="Number">22</Data>
        </Cell>
        <Cell ss:StyleID="s166"/>
        <Cell ss:StyleID="s171"/>
        <Cell ss:StyleID="s166"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="13.5">
        <Cell ss:Index="2" ss:StyleID="s114">
          <Data ss:Type="Number">3</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">00048</Data>
        </Cell>
        <Cell ss:StyleID="s119">
          <Data ss:Type="String">曹雷</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114" ss:Formula="=(RC[-3]+RC[-2]+RC[-1])*20">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s121">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s150"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s151"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s152">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114"/>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115" ss:Formula="=21.75-RC[-3]-RC[-6]">
          <Data ss:Type="Number">21.75</Data>
        </Cell>
        <Cell ss:StyleID="s165" ss:Formula="=IF(RC[-12]/8&lt;0.5,0,IF(RC[-12]/8&gt;=0.5,RC[-12]/8))">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115"/>
        <Cell ss:StyleID="s115" ss:Formula="=IF(RC[1]=&quot;&quot;,ROUND(RC[-3]-RC[-2]-RC[-12]-RC[-8]-RC[-4]-RC[-1],0),0)">
          <Data ss:Type="Number">22</Data>
        </Cell>
        <Cell ss:StyleID="s166"/>
        <Cell ss:StyleID="s171"/>
        <Cell ss:StyleID="s166"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="13.5">
        <Cell ss:Index="2" ss:StyleID="s114">
          <Data ss:Type="Number">4</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String">00123</Data>
        </Cell>
        <Cell ss:StyleID="s119">
          <Data ss:Type="String">石东轩</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">1</Data>
          <Comment ss:Author="张菁琳">
            <ss:Data xmlns="http://www.w3.org/TR/REC-html40">张菁琳:&#10;10.22</ss:Data>
          </Comment>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114" ss:Formula="=(RC[-3]+RC[-2]+RC[-1])*20">
          <Data ss:Type="Number">20</Data>
        </Cell>
        <Cell ss:StyleID="s121">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s150"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s151"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s152">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114"/>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">1.5</Data>
          <Comment ss:Author="张菁琳">
            <ss:Data xmlns="http://www.w3.org/TR/REC-html40">张菁琳:&#10;9.24,0.5&#10;10.13,1</ss:Data>
          </Comment>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115" ss:Formula="=21.75-RC[-3]-RC[-6]">
          <Data ss:Type="Number">20.25</Data>
        </Cell>
        <Cell ss:StyleID="s165" ss:Formula="=IF(RC[-12]/8&lt;0.5,0,IF(RC[-12]/8&gt;=0.5,RC[-12]/8))">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115"/>
        <Cell ss:StyleID="s115" ss:Formula="=IF(RC[1]=&quot;&quot;,ROUND(RC[-3]-RC[-2]-RC[-12]-RC[-8]-RC[-4]-RC[-1],0),0)">
          <Data ss:Type="Number">20</Data>
        </Cell>
        <Cell ss:StyleID="s166"/>
        <Cell ss:StyleID="s171"/>
        <Cell ss:StyleID="s166"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="13.5">
        <Cell ss:Index="2" ss:StyleID="s114">
          <Data ss:Type="Number">5</Data>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String" x:Ticked="1">00475</Data>
        </Cell>
        <Cell ss:StyleID="s122">
          <Data ss:Type="String">刘唱</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114" ss:Formula="=(RC[-3]+RC[-2]+RC[-1])*20">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s121">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s150"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s151"/>
        <Cell ss:StyleID="s114">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">1</Data>
          <Comment ss:Author="张菁琳">
            <ss:Data xmlns="http://www.w3.org/TR/REC-html40">张菁琳:&#10;10.15,1</ss:Data>
          </Comment>
        </Cell>
        <Cell ss:StyleID="s152">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s114"/>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s120">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115" ss:Formula="=21.75-RC[-3]-RC[-6]">
          <Data ss:Type="Number">20.75</Data>
        </Cell>
        <Cell ss:StyleID="s165" ss:Formula="=IF(RC[-12]/8&lt;0.5,0,IF(RC[-12]/8&gt;=0.5,RC[-12]/8))">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s115"/>
        <Cell ss:StyleID="s115" ss:Formula="=IF(RC[1]=&quot;&quot;,ROUND(RC[-3]-RC[-2]-RC[-12]-RC[-8]-RC[-4]-RC[-1],0),0)">
          <Data ss:Type="Number">0</Data>
        </Cell>
        <Cell ss:StyleID="s166" ss:Formula="=RC[-4]">
          <Data ss:Type="Number">20.75</Data>
        </Cell>
        <Cell ss:StyleID="s171"/>
        <Cell ss:StyleID="s166"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="16.5">
        <Cell ss:StyleID="s175" ss:MergeAcross="4">
          <Data ss:Type="String">标注此颜色为离职员工</Data>
        </Cell>
        <Cell ss:StyleID="s124"/>
        <Cell ss:StyleID="s125"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s153"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s154"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="21" ss:StyleID="s167"/>
        <Cell ss:StyleID="s168"/>
        <Cell ss:StyleID="s168"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="16.5">
        <Cell ss:StyleID="s176" ss:MergeAcross="4">
          <Data ss:Type="String">标注此颜色为试用期员工</Data>
        </Cell>
        <Cell ss:StyleID="s128"/>
        <Cell ss:StyleID="s125"/>
        <Cell ss:StyleID="s129"/>
        <Cell ss:StyleID="s103">
          <Data ss:Type="String">注：人事部有权根据公司制度对考勤系统数据进行复核，以保证考勤制度的公平性</Data>
        </Cell>
        <Cell ss:StyleID="s153"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s154"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="16.5">
        <Cell ss:StyleID="s177" ss:MergeAcross="4">
          <Data ss:Type="String">标注此颜色为实习生</Data>
        </Cell>
        <Cell ss:StyleID="s131"/>
        <Cell ss:StyleID="s125"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="10" ss:StyleID="s153"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s154"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="16.5">
        <Cell ss:StyleID="s178" ss:MergeAcross="5">
          <Data ss:Type="String">标注此颜色为残疾人</Data>
        </Cell>
        <Cell ss:StyleID="s125"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s139"/>
        <Cell ss:StyleID="s155"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s154"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="30">
        <Cell ss:StyleID="s179" ss:MergeAcross="5">
          <Data ss:Type="String">标注此为按自然天计算的特殊假期，计算餐补时应按工作日天数计算</Data>
          <Comment ss:Author="刘丽娜">
            <ss:Data xmlns="http://www.w3.org/TR/REC-html40">shengsheng.yang:&#10;特殊假期为陪产假、婚假</ss:Data>
          </Comment>
        </Cell>
        <Cell ss:StyleID="s134"/>
        <Cell ss:StyleID="s135"/>
        <Cell ss:StyleID="s134"/>
        <Cell ss:StyleID="s156"/>
        <Cell ss:StyleID="s134"/>
        <Cell ss:StyleID="s134"/>
        <Cell ss:StyleID="s134"/>
        <Cell ss:StyleID="s157"/>
        <Cell ss:StyleID="s134"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103">
        <Cell ss:StyleID="s136"/>
        <Cell ss:StyleID="s137"/>
        <Cell ss:StyleID="s137"/>
        <Cell ss:StyleID="s138"/>
        <Cell ss:StyleID="s137"/>
        <Cell ss:StyleID="s137"/>
        <Cell ss:StyleID="s139"/>
        <Cell ss:Index="10" ss:StyleID="s158"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s154"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103">
        <Cell ss:StyleID="s140">
          <Data ss:Type="String">制表：</Data>
        </Cell>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s141"/>
        <Cell ss:StyleID="s140">
          <Data ss:Type="String">审核：</Data>
        </Cell>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s159"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s160"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103">
        <Cell ss:StyleID="s140">
          <Data ss:Type="String">日期：</Data>
        </Cell>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s140">
          <Data ss:Type="String">日期：</Data>
        </Cell>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s161"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s160"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103">
        <Cell ss:StyleID="s143"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s144"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s141"/>
        <Cell ss:StyleID="s145"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s159"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s162"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103" ss:Height="13.5">
        <Cell ss:StyleID="s140">
          <Data ss:Type="String">部门负责人：</Data>
        </Cell>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s141"/>
        <Cell ss:StyleID="s140">
          <Data ss:Type="String">人事总监:</Data>
        </Cell>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s159"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s160"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103">
        <Cell ss:StyleID="s140">
          <Data ss:Type="String">日期：</Data>
        </Cell>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s140">
          <Data ss:Type="String">日期：</Data>
        </Cell>
        <Cell ss:StyleID="s140"/>
        <Cell ss:StyleID="s161"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s160"/>
        <Cell ss:StyleID="s126"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
      <Row ss:StyleID="s103">
        <Cell ss:StyleID="s143"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s144"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s142"/>
        <Cell ss:StyleID="s106"/>
        <Cell ss:StyleID="s106"/>
        <Cell ss:StyleID="s106"/>
        <Cell ss:StyleID="s163"/>
        <Cell ss:StyleID="s106"/>
        <Cell ss:Index="13" ss:StyleID="s106"/>
        <Cell ss:StyleID="s106"/>
        <Cell ss:Index="21" ss:StyleID="s169"/>
        <Cell ss:StyleID="s170"/>
        <Cell ss:Index="25" ss:StyleID="s169"/>
        <Cell ss:StyleID="s172"/>
      </Row>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Layout x:Orientation="Landscape" x:CenterHorizontal="1"/>
        <Header x:Margin="0.511805555555556"/>
        <Footer x:Margin="0.511805555555556"/>
        <PageMargins x:Left="0.55" x:Right="0.55" x:Top="0.786805555555556" x:Bottom="0.786805555555556"/>
      </PageSetup>
      <Print>
        <ValidPrinterInfo/>
        <Scale>71</Scale>
        <PaperSizeIndex>9</PaperSizeIndex>
      </Print>
      <Selected/>
      <TopRowVisible>0</TopRowVisible>
      <LeftColumnVisible>0</LeftColumnVisible>
      <PageBreakZoom>100</PageBreakZoom>
      <DoNotDisplayGridlines/>
      <FreezePanes/>
      <FrozenNoSplit/>
      <SplitHorizontal>3</SplitHorizontal>
      <TopRowBottomPane>3</TopRowBottomPane>
      <SplitVertical>4</SplitVertical>
      <LeftColumnRightPane>4</LeftColumnRightPane>
      <ActivePane>0</ActivePane>
      <Panes>
        <Pane>
          <Number>3</Number>
        </Pane>
        <Pane>
          <Number>1</Number>
        </Pane>
        <Pane>
          <Number>2</Number>
        </Pane>
        <Pane>
          <Number>0</Number>
          <ActiveRow>18</ActiveRow>
          <ActiveCol>11</ActiveCol>
          <RangeSelection>R19C12</RangeSelection>
        </Pane>
      </Panes>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
    <AutoFilter x:Range="R3C1:R13C26" xmlns="urn:schemas-microsoft-com:office:excel"/>
  </Worksheet>
</Workbook>
