<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns medium-9 medium-pull-3">
    <%= render 'form' %>
    <fieldset>
      <legend><span>说明</span></legend>
      <ul>
        <li>本功能用于补齐在日常部门考勤管理中不能编辑的异常考勤</li>
        <li>时长:为数值,填写与异常类别相对应的实际值</li>
        <li>举例如下情况:某员工虽然记录中早上打卡,但其实是请事假半天,来公司拿必须物品.  </li>
      </ul>
    </fieldset>
  </div>
</div>

