// Place all the styles related to the year_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}

.row table{width:100%;}

.bg_grey{background:#eee;}
.border_grey{border:solid 1px #ccc;}
.switch{
  label{vertical-align:middle!important;}
  span{color:#888;}
}
.alert-box{margin-top:1em;}
