// Place all the styles related to the year_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}

.w100{width: 100%;}
.row table{width:100%;}

.bg_grey{background:#eee;}
.border_grey{border:solid 1px #ccc;}
.ptl1em{padding-top:1em;padding-left:1em;}
.p1em{padding:1em;}
.switch{
  label{vertical-align:middle!important;}
  span{color:#888;}
}
.bg_blue{background-color: #0D1552;}
.red{color:red;}

.green{color:green;}
.alert-box{margin-top:1em;}
.breadcrumbs{margin-top:1em;}

.err {color: #FFDF00;}
.succ{color: #32F708;}

.inline-button{
  margin-bottom:0;
  margin-top:1.8em;

}
.mt1em{margin-top:1.8em!important;}
.mt0{margin-bottom:0!important;}
.date{
  select{width:33%;}
  letter-spacing:-4px;
  label{letter-spacing:normal;}

}
.datetime{
  select{width:19.5%;}
  letter-spacing:-4px;
  label{letter-spacing:normal;}

}
.in_editor{
  b{color:#2196F3; }
  td.rip-active{
    text-align:center;
    input{
      margin: 0!important;
      padding:1px 4px;
      box-shadow: none;
      border:solid 1px #ccc;
      height:auto;
      font-size:12px;
      width:2em!important;
    }
  }

  tr.need_update td.c_aff {
    border:solid 1px #ccc;
    input{
      width:2em!important;
      display:inline;
    }
    &.spec_appr input{width:6em!important;}
    //&[abbr=c_aff_spec_appr].rip-active input{width:6em!important;}
  }
  td.rest-in-place {
    border:solid 1px #ccc;
  }
}
.kaoqin{
  th{vertical-align:bottom;}
}

#modal_content{color:white;}
.notice,#modal_content{
  span{padding-left:2em;}
  h6{color: #fff;}
}

.child_episodes > .row{border-top:dotted 1px #ccc;}

.resources{
  input[type=checkbox]{
    margin: 0 4px 0.1rem 0;
    vertical-align: middle;
  }
}
.group_shi{background-color: #F0F8FF;border-right:solid 1px #ccc;}
.group_chi{background-color: #FAEBD7;border-right:solid 1px #ccc;}
.group_tian{background-color: #FFF8DC;border-right:solid 1px #ccc;}
.group_te{background-color: #DEB887;border-right:solid 1px #ccc;}
.group_qi{background-color: #5F9EA0;border-right:solid 1px #ccc;}
