<!DOCTYPE HTML>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style type="text/css" media="all">
    table {
      background: #FFFFFF;
      margin-bottom: 1.25em;
      border: solid 1px #333;
      table-layout: auto;
      border-collapse:collapse;
    }
    table tr th{background:#eee;}
    table tr th, table tr td {
      padding: 0.5625em 0.625em;
      font-size: 0.875em;
      color: #222222;
      text-align: left;
      border:solid 1px #ddd;
    }
    tr{
      background-color:#bbb;
    }
    p{text-indent:2em;}
    .red{color:red;}
    .green{color:green;}

    tr.need_fill .c_aff{background:#fff;}

  </style>
</head>
<html>
  <body>
    <%= yield %>
  </body>
</html>
