<!DOCTYPE HTML>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style type="text/css" media="all">
    body{font-size:12px;}

    table {
      background: #FFFFFF;
      margin-bottom: 1.25em;
      border: solid 1px #333;
      table-layout: auto;
      border-collapse:collapse;
    }
    table tr th{background:#7FC3DB;}
    table tr th, table tr td {
      padding: 0.5625em 0.625em;
      font-size: 0.875em;
      color: #222222;
      text-align: left;
      border:solid 1px #ddd;
    }
    tr{
      background-color:#bbb;
    }
    p{text-indent:2em;}
    .red{color:red;}
    .green{color:green;}
    td span{color:blue}
    .group_chi{background:#FAEBD7; }
    .group_shi{background:#F0F8FF; }
    .group_tian{background:#FFF8DC; }
    .group_te{background:#DEB887; }
    .group_qi{background:#5F9EA0; }
    li{line-height:24px;}
    li p{line-height:12px;}

    tr.need_fill .c_aff{background:#fff;}

  </style>
</head>
<html>
  <body>
    <%= yield %>
  </body>
</html>
