<!DOCTYPE HTML>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style type="text/css" media="all">
    table {
      background: #FFFFFF;
      margin-bottom: 1.25rem;
      border: solid 1px #333;
      table-layout: auto;
      border-collapse:collapse;
    }
    table tr th{background:#eee;}
    table tr th, table tr td {
      padding: 0.5625rem 0.625rem;
      font-size: 0.875rem;
      color: #222222;
      text-align: left;
      border:solid 1px #ddd;
    }
    tr{
      background-color:#999;
    }

    tr.need_fill .c_aff_switch_leave, tr.need_fill .c_aff_comment, tr.need_fill .c_aff_later, tr.need_fill .c_aff_leave, tr.need_fill .c_aff_absent, tr.need_fill .c_aff_forget_checkin, tr.need_fill .c_aff_holiday_year,tr.need_fill  .c_aff_sick,tr.need_fill  .c_aff_persion_leave{background:#fff;}

  </style>
</head>
<html>
  <body>
    <%= yield %>
  </body>
</html>
